modules = ["nodejs-20", "postgresql-16", "python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 300
externalPort = 9000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5002
externalPort = 3003

[[ports]]
localPort = 5003
externalPort = 3002

[[ports]]
localPort = 8082
externalPort = 8099

[[ports]]
localPort = 19871
externalPort = 6800

[[ports]]
localPort = 23636
externalPort = 3000

[[ports]]
localPort = 23637
externalPort = 6000

[[ports]]
localPort = 23638
externalPort = 5173

[[ports]]
localPort = 23639
externalPort = 5000

[[ports]]
localPort = 23640
externalPort = 8008

[[ports]]
localPort = 23641
externalPort = 8082

[[ports]]
localPort = 23642
externalPort = 8000

[[ports]]
localPort = 23643
externalPort = 8081


[nix]
channel = "stable-25_05"
packages = ["nano", "psmisc"]

[userenv]

[userenv.shared]
ADMIN_EMAILS = "danerez5@gmail.com"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
