{
  "sqltools.connections": [
    {
      "name": "VetTrack Local",
      "driver": "PostgreSQL",
      "server": "127.0.0.1",
      "port": 5432,
      "database": "vettrack",
      "username": "postgres",
      "ssl": false,
      "previewLimit": 50,
      "askForPassword": true
    }
  ]
}
